<h1>Editing Book</h1>

<%= form_with model: @edit, url: update_book_path(@edit.id), method: :patch do |f| %>

<div>
  <label>Title</label>
  <p><%= f.text_field :title %></p>
</div>
  
<div>
  <label>Body</label>
  <p><%= f.text_area :body %></p>
</div>

  <%= f.submit 'Update Book' %>
  
<div>
  <a><%= link_to "Show", book_path(@edit.id) %><a/>|<a><%= link_to "Back", "/index" %></a>
</div>
<% end %>