    <% if flash[:destroy] %>
    <p class="flash-message"><%= flash[:destroy] %></p>
    <% end %>

    <h1 class="index-Books">Books</h1>
      <table>
        <thead>
          <tr>
            <th class="index-label">Title</th>
            <th class="index-label">Body</th>
            <th colspan="3" class="index-label"></th>
          </tr>
        </thead>
        <tbody>
          <% @lists.each do |book| %>
            <tr>
              <td class="index-main"><%= book.title %></td>
              <td class="index-main"><%= book.body %></td>
              <td class="index-main"><%= link_to "Show", book_path(book.id) %></td>
              <td class="index-main"><%= link_to "Edit", edit_book_path(book.id) %></td>
              <td class="index-main"><%= link_to "Destroy",book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </body>

  <%= form_with model: @new, url: '/books',method: :post do |f| %>
    <h2 class="index-New_book">New book</h2>

    <div>
    <% if @new.errors.any? %>

     <li><%= @new.errors.count %> error prohibited this book from being saved:</li>
        <% @new.errors.full_messages.each do |message| %>
          <li><%= message %>
        <% end %>
      </li>
    </div>
    <% end %>

      <div class="field">
        <label>Title</label>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <label>Body</label>
        <%= f.text_area :body %>
      </div>

      <div class="actions">
        <%= f.submit 'Create Book' %>
      </div>
    <% end %>