<!DOCTYPE html>
<html>

  <h1>Books</h1>

  <div>
    <th>Title</th>
    <% @lists.each do |book| %>
      <li class="title-index"><%= book.title %></li>
    <% end %>
  </div>
  
  <div>
    <th>Body</th>
    <% @lists.each do |book| %>
      <li class="body-index"><%= book.body %></li>
    <% end %>
  </div>

<%= form_with model: @new, url: '/new',method: :post do |f| %>
  <h2>New book</h2>
  <label>Title</label>
    <p><%= f.text_field :title %></p>
    
  <label>Body</label>
    <p><%= f.text_area :body %></p>
  <%= f.submit 'Create Book' %>
<% end %>

</html>