<!DOCTYPE html>
<html>

  <h1>Books</h1>

  <div>
    <th>Title</th>
    <% @lists.each do |book| %>
      <li class="title-index"><%= book.title %></li>
    <% end %>
  </div>
  
  <div>
    <th>Body</th>
    <% @lists.each do |book| %>
      <li class="body-index"><%= book.body %></li>
    <% end %>
  </div>
  
  <div>
    <th cospan="3"></th>
    <% @lists.each do |book| %>
      <li><%= link_to "Show", book_path(book.id) %></li>
    <% end %>
  </div>
  
  <div>
    <th cospan="3"></th>
    <% @lists.each do |book| %>
      <li><%= link_to "Edit", edit_book_path(book.id) %></li>
    <% end %>
  </div>
  
  <div>
    <th cospan="3"></th>
    <% @lists.each do |book| %>
      <li><%= link_to "Destroy",book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></li>
    <% end %>
  </div>
  
<%= form_with model: @new, url: '/books',method: :post do |f| %>
  <h2>New book</h2>
  <label>Title</label>
    <p><%= f.text_field :title %></p>
    
  <label>Body</label>
    <p><%= f.text_area :body %></p>
  <%= f.submit 'Create Book' %>
<% end %>

</html>